/**
 * This support file is used to style the WYSIWYG editor in the CMS
 */

@import url("/themes/sswebpack_dist/css/editor.css");

body.mceContentBody {
    min-height: 200px;
    width: 770px;
}

body.mceContentBody a.broken {
    border: 1px red solid;
}
