{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "ie": "11",
                    "browsers": [
                        "> 1%",
                        "last 2 versions",
                        "Explorer 11"
                    ]
                },
                "debug": false
            }
        ]
    ]
}
