import $ from 'jquery';


// non-themed app
import 'site/app/client/javascript/MyJavascriptFile';


// vendor modules
import 'site/vendor/myvendor/mypackage/client/javascript/MyJavascriptFile';

// your themed app files
import "./js/partials/SomeOtherJavascriptFile";
